#approval-page {
  width: min(1000px, 100%);
  margin: 50px auto;

  #approval-title {
    width: fit-content;
    font-family: var(--title-font);
    color: var(--blue-0);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 20px auto 10px;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: var(--blue-0);
      margin: 2px auto;
      transition: 0.2s;
    }
  }

  #approval-club-select {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    #approval-config {
      text-align: center;
      font-size: 1.1em;
      font-weight: 500;
      color: var(--grey-5);

      span {
        color: #202424;
        font-weight: 700;
      }
    }

    #approval-dropdown {
      #config-change {
        width: 100%;
        background: var(--grey-1);
        border: 2px solid var(--blue-4);
        border-radius: 5px;
        outline: none;
        padding: 7px 15px;
        font-size: 1em;
        font-family: var(--text-font);
        font-weight: 500;
        color: var(--grey-9);
        transition: 0.2s ease-in-out;

        &:focus {
          transform: scale(1.01);
          box-shadow: 0 0 10px #00000011;
          background: var(--grey-0);
        }
      }
    }
  }

  #status-container {
    width: 100%;

    #status-table {
      width: min(1000px, 100%);
      text-align: left;
      padding: 10px;

      th {
        font-weight: 600;
        color: var(--blue-0);
        font-size: 1.2em;
        border-bottom: 2px solid;
      }

      td {
        padding: 10px;
      }

      th:nth-child(1), td:nth-child(1) {
        width: 70px;
      }

      th:nth-child(2), td:nth-child(2) {
        width: 400px;
      }

      tr:nth-child(even) {
        background: var(--grey-2);
      }

      th:nth-child(3), td:nth-child(3) {
        width: 70px;
      }

      th:nth-child(4), td:nth-child(4) {
        width: 70px;
      }
    }
  }
}
